{% extends "plumber/base_plumber.html" %}


{% block content %}

<div class="test_conteiner">
    <div class="test">
        <div class="result">
            <div id="time-text"style="width:100%;width:200px;"><p id="date"></p></div>
            
            <p>{{request.user.last_name}} {{request.user.first_name}} {{request.user.profession}} {{request.user.workshop}} {{request.user.profession}}</p>
            <p><b>{{mash.name}}</b></p>
            

            <hr>

            <h2>Результаты теста</h2>
            <p>Всего вопросов - {{que_count}}</p>
            <p>Решённых - {{ques_res}} - {{variance}}%</p>
            <p>Правильных ответов - {{answertrue}} - {{percent_true}}%</p>
            
            {% if percent_true < 80 %}
                <p>Тест не пройден. Правильных ответов должно быть не менее 80%.</p>
            {% else %}
                <p>Тест пройден</p>
            {% endif %}
        </div>   
        

        {%comment%}<h2>Ответы пользователя</h2>
            {% for a in ans %}<!-- ans = AnswersUser -->
            
                {% if a.answer == "Верно" %}
                    <p style="color:red">{{a.question}}--{{a.answer}}</p>
                {% else %}
                    <p>{{a.question}}--{{a.answer}}</p>
                {% endif %}
            {% endfor %}{%endcomment%}

        <hr>

        <h2 style="text-align:center;margin-bottom:10px;">Правильные ответы выделены <span style="color:red;">красным</span></h2>
        {%for q in que%}
        {%comment%}{{q.answers_set.count}}=====ответы{%endcomment%}
        <div class="answer2">
            <h3 style="margin-bottom:5px;">{{q.text}}</h3>
            {% for a in answers %}
            
                {% if a.ques.pk == q.pk %}
                
                    {% if a.active %}
                        <p style="color:red"> {{a.num}}. {{a.answer}}</p>
                    {% else %}
                        <p>{{a.num}}. {{a.answer}}</p>
                    {% endif %}
                
                {% endif %}
            
            {% endfor %}
        </div>
        {%endfor%}
            
        {%comment%}<a href="{% url 'users:logout_user' %}">Выход(Logout)</a>{%endcomment%}
        <div class='a-item'>
            <a href="{% url 'plumber:parser' %}">Выход</a>
        </div>
    </div>
</div>

<script>
    let now = new Date();
    let dd = String(now.getDate()).padStart(2, '0');
    let mm = String(now.getMonth() + 1).padStart(2, '0'); //January is 0!
    let yyyy = now.getFullYear();
    now = dd + '.' + mm + '.' + yyyy + 'г.';
    document.getElementById("date").innerHTML=now;
</script>


{%endblock%}




{% block footer_testing %}
{% endblock %}