{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Jacques+Francois+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="header1">
            <div class="header1_img">
                <img src="../static/img/G3.png" alt="G3">
            </div>
            <div class="header1-h2">
                <h2>TEST online</h2>
            </div>
            <div class="header1-h3">
                <h3>Тестирование работников основных и совмещаемых профессий</h3>
            </div>
        </div>
        
        <div class="header3">
            <div class="a">
                <a href="{% url 'plumber:index' %}"style="margin-left:150px;color:#fff">Главная</a>
            </div>
        </div>
    </div>
    <div class="content"id="content">
        {% block content %}
        {% endblock %}
    </div>
    
    <div class="footer_testing">
        {% block footer_testing%}
        {% endblock %}
    </div>
</body>
</html>