{% extends "base.html" %}

{%block sideleft%}

    <h2>Материалы для подготовки</h2>

    {%for i in pfus%}
    <p><a href="{%url 'plumber:file_pdf' ind_id=i.id%}">{{i.file|slice:"5:"}}</a></p>
    {%endfor%}

{%endblock%}

{% block sideright %}
    
    <h2>Условия прохождения тестирования</h2>
    <p>1. Для начала тестирования, необходимо <a href="{% url 'users:register' %}">зарегистрироваться</a></p>
    <p>2. Если Вы регистрировались ранее и у Вас есть свой профиль, <a href="{% url 'users:profile' %}">зайдите</a> в него.</p>
    <p>3. В профиле необходимо выбрать вариант теста, после чего Вы перейдете на страницу тестирования.</p>
    <p>4. Время, на прохождение теста, зависит от количества вопросов в тесте. Один вопрос - одна минута, плюс 5 минут на проверку и исправление.</p>
    <p>5. Тест считается пройденным если правильных ответов 80%.</p>
    
{% endblock %}