
{% extends "base.html" %}

{% block sideleft %}
            
{% endblock %}

{% block sideright %}
    
    <h2 style="text-align:center;">Условия прохождения тестирования</h2>
    <div class=""style="margin-left:20px;padding:10px;">
        <p>1. Для начала тестирования, необходимо <a href="{% url 'users:register' %}">зарегистрироваться</a></p>
        <p>2. Если Вы регистрировались ранее и у Вас есть свой профиль, <a href="{% url 'users:profile' %}">зайдите</a> в него.</p>
        <p>3. В профиле необходимо выбрать вариант теста, после чего Вы перейдете на страницу тестирования.</p>
        <p>4. Время, на прохождение теста, зависит от количества вопросов в тесте. Один вопрос - одна минута, плюс 5 минут на проверку и исправление.</p>
        <p>5. Тест считается пройденным если правильных ответов 80%.</p>
    </div>
    <div class="image"style="display:flex; flex-wrap:wrap;justify-content:space-between;padding-left:20px;padding-right:20px;">
        <img src="/media/mashin/cns300.gif" alt=""style="width: 400px;height:350px;margin-bottom:20px;">
        <img src="/media/mashin/cns300-2.png" alt=""style="width: 400px;height:350px;">
        <img src="/media/mashin/nd1.jpeg" alt=""style="width: 400px;height:350px;">
        <img src="/media/mashin/km1.png" alt=""style="width: 400px;height:350px;">
    </div>
{% endblock %}