{% extends "plumber/base_plumber.html" %}

{% block header_testing %}
    <h2>Страница тестирования по профессии:</h2>
    <h3>{{request.user.profession}}</h3>
{% endblock %}


{% block content %}

{% load plumber_tags %}

<div id="time">00:00</div>
timing-{{que.count|timing:5}} TIM2=={{que_count}}
    {%comment%}{{request.user.is_authenticated}}{%endcomment%}
        {%comment%}<p>Экзаменующийся: {{request.user.username}}</p>{%endcomment%}
    <div class="test_conteiner">
    <div class="test">
        <h2 class="mash-h2">{{mash.name}}</h2>
        {% for i in que %}<!--Questions-->
        {%comment%}<p style="color:red">{{i.mash}}</p>{%endcomment%}
            <div class="ques_answ"style="border:1px solid gray;margin-bottom:5px;background:#fff">

                {% if i.image %}
                    <p><img src="{{i.image.url}}" alt=""></p>
                {%endif%}
                
                <h2 class="questions-h2">{{i.text}}</h2> {%comment%}Вопросы по теме{%endcomment%}

                <form action="{%url 'plumber:answer'%}"method='get'target="_blank">
                    {% for q in answ %}<!--answ=Answers-->
                    
                        {%if q.ques.name == i.name%}{%comment%}Вопрос 1=Вопрос 1{%endcomment%}
                    
                                {%if q.active%}
                                    <p style="margin-bottom:5px"><input type="radio"id='rad1'name='{{i.text}}'value="Верно">
                                    <label for="rad1">{{q.num}}.{{q.answer}}</label></p>
                                    {%comment%}{{q.num}}. {{q.answer}}</p>{%endcomment%}
                                {%else%}
                                    <p style="margin-bottom:5px"><input type="radio"id='rad1'name='{{i.text}}'value="Не верно">
                                    <label for="rad1">{{q.num}}.{{q.answer}}</label></p>
                                                    
                                {%endif%}
                                
                        {%endif%}

                        
                        
                    {%endfor%}
            </div>        
        {%endfor%}
                                    
            {%comment%}<p><button type="submit"id="button"onclick="printMessage">Submit</button></p>{%endcomment%}
            <p style="color:#fff;">Что бы узнать результат тестирования, нажмите на кнопку >>><button type="submit"id="button"onclick="printMessage">Закончить тестирование</button></p>
            
        </form>
     
    </div>
</div>

<script>
    window.addEventListener("load", function() {
        const clock = document.getElementById("time");
        let time = -1, intervalId;
        
        function incrementTime() {
          time++;
          tim=("0" + Math.trunc(time / 60)).slice(-2) +
            ":" + ("0" + (time % 60)).slice(-2);
/*console.log("TIM",typeof(tim))
console.log("que", typeof(String({{que_count}})))*/
console.log('00:'+'0'+String({{que_count}}-15))
          if (tim === "00:"+"0"+String({{que_count}}-15)){
              clock.style.color="red";
          }
          clock.textContent =
            tim;
        }
        incrementTime();
        intervalId = setInterval(incrementTime, 1000);
      });
</script>

<script>
    function printMessage() { 
        
        alert("Время вышло!");
        //window.location.replace("http://127.0.0.1:8000/answer/");   
        document.getElementById('button').click();
        
        }
        setTimeout(printMessage, {{que_count}}*1000);
        clock = document.getElementById("time");

        //button.onclick=printMessage
    
      
</script>
<script>
    btn = document.getElementById('button');
    btn.addEventListener('click', () => {
    // 👇️ hide button
    btn.style.display = 'none';
    document.getElementById("time").style.display = 'none';

    // 👇️ show div
    const box = document.getElementById('box');
    box.style.display = 'block';
    });
</script>

{% endblock %}
