{% extends "base.html" %}

{% block sideright %}
    <p>Экзаменующийся: {{request.user.username}}</p>
    {% for i in que %}
        {{i.name}}

    <form action=""method='get'>
    {% for q in ans %}
    
        {%if q.ques.name == i.name%}
    
                {%if q.active%}
                    <p><h3><input type="radio"id='rad1'name='radio{{q.id}}'value="{{q.active}}">
                    <!--<label for="rad1">{{q.answer}}</label></p>-->
                    {{q.answer}}</h3></p>
                {%else%}
                    <p><h3><input type="radio"id='rad1'name='radio{{q.id}}'value="{{q.active}}">
                    <!--<label for="rad1">{{q.answer}}</label></p>-->
                    {{q.answer}}</h3></p>
                {%endif%}
        {%endif%}
    {%endfor%}
    
    {%endfor%}
    <p><button type="submit">Submit</button></p>
    </form>
{% endblock %}