* {
    margin: 0;
    padding: 0;
}

.header { 
    background-color: #4B5193;
    display: flex;
    flex-direction: column;
}

.header1 {
    width: 100%;
    height: 100px;
    /*background-color: #fff;*/
    text-align: center;
    /*background-image: url("../img/GG1.png");
    background-repeat: no-repeat;*/
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fff;
}
.header1_img img{
  width:100px; 
  height:100px;
  margin-left:30px;
  margin-right: 30px;
}

.header1-h2 {
  /*font-family: 'Jacques Francois Shadow';
  font-weight:400;
  font-size:32px;
  color: #fff;*/
  height: 100px;
  margin-right: 10px;
  display: flex;
}
.header1-h2 h2 {
  font-family: 'Jacques Francois Shadow';
  font-weight:400;
  font-size:64px;
  color: #fff;
  align-items: center;
  
  /*margin-right: 60px;
  align-self: flex-end;*/
}
.header1-h3 {
  /*font-family: 'Alice';
  font-weight:400;
  font-size:22px;
  color: #fff;*/
  height: 100px;
  /*align-self: flex-end;*/
  width: 700px;
  display: flex;
}
.header1-h3 h3{
  font-family: 'Alice';
  font-weight:400;
  font-size:22px;
  color: #535898;
  margin: auto;
  align-items: center;
  /*align-self: flex-end;*/
  background-color: #D9D9D9;
  border-radius: 5px;
  padding: 0px 5px;
}
.header2 {
    width: 100%;
    /*height: 40px;*/
    background-color: #fff;
    text-align: center;
}
.header3 {
    width: 100%;
    /*height: 40px;*/
    background-color: #545BA2;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.a {
  font-family: 'Alice';
  font-weight:400;
  font-size:18px;
  color: #fff;
}

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #AFB4E6;
    /*min-height: 3000px;*/
    /*position: relative;*/
}
.sideleft {
    width: 30%;
    min-height: 2000px;
    background-image: url("../img/Group18.png");
    background-repeat: repeat;
    padding-top:150px;
    /*width: 50%;*/
    /*margin: 0 auto;*/
    /*color:red;*/
    /*display: grid; 
    place-items: center;*/
    /*margin-left:0 auto;
    margin-right:0 auto;*/
   
}
.sideleft h2 {
  font-family: Alice;
  font-weight: 400;
  font-size: 26px;
  color: #535898;
  text-align: center;
}
.sideleft-h2 {
  background-color: #D9D9D9;
  padding: 5px;
  border-radius: 11px;
  margin-bottom: 20px;
  width: 90%;
  margin: 5px auto;
}

.materials-img {
  font-family: Alice;
  font-weight: 400;
  font-size: 22px;
  /*margin-bottom:20px;*/
  color: #535898;
  text-align: center;
  width:340px;
  height: 260px;
  background-color: #D9D9D9;
  border-radius: 11px;
  margin: 40px auto;
    /*margin-right:0 auto;*/
}
.materials-img:hover {
  box-shadow: 10px 5px 5px #535898;
}
.p-a {
  margin-bottom: 10px;
  font-family: Alice;
  font-weight: 400;
  font-size: 22px;
  color:#4655f7;
}
.p-a:hover {
  color:#08138b;
}
  .img-hover {
    width:300px;
    height:200px;
    /*border: 2px solid #535898;*/
    border-radius: 11px;
    /*box-shadow: 10px 5px 5px rgb(9, 84, 158);*/
    /*margin-bottom: 20px;*/
    margin: auto;
  }
.img-hover:hover{
  box-shadow: 10px 5px 5px #535898;
  width: 295px;
  height: 195px;
}

.img-block {
  width: 300px;
  height: 200px;
  border-radius: 11px;
}
.img-block:hover {
  width: 295px;
  height: 195px;
}
.sideright {
    width: 70%;
    min-height: 2000px;
    background-color: #fff;
    padding-bottom: 10px;
    /*position: fixed;*/
    /*position: relative;*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*display: grid; 
    place-items: center;*/
    /*display: flex;
    flex-direction: column;*/
    padding-top:160px;
}
.sideright-text {
  /*position: relative;*/
  width: 800px;
  /*height: 500px;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 24px;
}
.sideright-block-content {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sideright-content {
  width:400px;
  /*height:350px;*/
  background-color: #D9D9D9;
  margin-bottom:40px;
  border-radius: 11px;
  padding:20px;
}
.sideright-content h2 {
  font-family: Alice;
  font-weight: 500;
  font-size: 22px;
  color:#171b41;
  margin-bottom: 20px;;
}
.sideright-content h3 {
  font-family: Alice;
  font-weight: 400;
  font-size: 22px;
  color:#171b41;
  margin-bottom: 10px;;
}
.sideright-content p {
  /*font-family: Alice;*/
  /*font-weight: 400;*/
  font-size: 18px;
  color:#171b41;
  /*margin-bottom: 10px;*/
}


.info_test {
    width: 80%;
    height:400px;
    background-color: rgb(201, 192, 255);
    position: absolute;
    z-index: 2;
}
.info_test1 {
    width: 500px;
    height:400px;
    background-color: green;
    position: absolute;
    z-index: 1;
}



.footer {
    width: 100%;
    height: 80px;
    background-color: #4B5193;
    color: #fff;
}
.footer h3 {
  font-family: 'Alice';
  font-weight:400;
  font-size:24px;
  color: #fff;
}



.content {
    width: 100%;
    min-height:520px;
    background-color: rgb(230, 227, 248);
    padding-top: 10px;
    padding-bottom: 10px;
    /*display: flex;
    flex-direction: column; */
}

/*----------форма авторизации-------*/
.form-authoriz {
  width:500px;
  height:300px;
  /*background-color: #fff;
  border: 2px solid red;*/
  background-image: url("../img/form.png");
  background-repeat: no-repeat;
  color:#4B5193;
  margin: 50px auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.form-authoriz-h2 {
  font-family: 'Alice';
  font-weight:bold;
  font-size:24px;
  margin-bottom: 20px;
}
.form-a {
  width:450px;
  background: rgb(230, 227, 248);
  /*padding: 5px;*/
  margin: 0px auto;
  border: 1px solid #4B5193;
}
.form-a a {
  font-family: 'Alice';
  font-weight:400;
  font-size:14px;
  color: #4B5193;
}
.form-a a:hover {
  color: rgb(170, 33, 159);
}
.form-a p {
  font-family: 'Alice';
  font-weight:400;
  font-size:14px;
  color: #4B5193;
}
.form-button {
  /*width:100px;*/
  padding: 5px 40px;
  border: 1px solid #4B5193;
  border-radius: 11px;
  background-color: #4B5193;
  font-family: 'Alice';
  font-weight:400;
  font-size:18px;
  color: #fff;
}
.form-button:hover {
  /*background-color: rgb(117, 53, 177);*/
  opacity:0.8;
  cursor: pointer;
  /*box-shadow: 5px 2px 2px #1b1d38;*/
}
h3 {
  font-family: 'Alice';
  font-weight:400;
  font-size:14px;
  color: #4B5193;
}

.content-a {
  width:320px;
  margin: 0px auto;
  background-color: #fff;
  padding: 5px 15px;
  border: 1px solid #4B5193;
  text-align: center;
}
.content-a a {
  font-family: 'Alice';
  font-weight:400;
  font-size:16px;
  color: #4B5193;
}
.content-a a:hover {
  color: rgb(170, 33, 159);
}
/*---------Форма регистрации------------*/

.form-register {
  width: 250px;
  background-color: #fff;
  margin: 0px auto;
  padding: 5px 30px;
  border: 1px solid #4B5193;
  color:#4B5193;
}

/*---------------------------------*/
.footer_testing {
  width:100%;
  height:40px;
  background-color: #4B5193;
}



hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*body {
    margin: 10%;
  }*/
  
  #slider {
    position: relative;
    width: 800px;
    height: 500px;
  
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  #slider ul li {
    position: relative;
    height: 100%;
  
    float: left;

  }
  #slider ul li img{
    width: 800px;
    height: 500px;
  }
  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
  }
  #slider #prev {
    left: 10px;
  }
  #slider #next {
    right: 10px;
  }
  

  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }

/*-----------Profile--------*/
.form-user {
  padding: 10px 20px; 
  background-color: #fff;
  width:300px;
  margin: 20px auto;
  border: 1px solid #171b41;
}
.user-info {
  width:300px;
  margin: 10px auto;
  margin-bottom: 30px;
}
.user-info a {
  font-family: 'Alice';
  font-weight:400;
  font-size:16px;
  color: #4B5193;
  margin-bottom: 5px;
}
.user-info a:hover {
  color: rgb(170, 33, 159);
}
.user-info h2 {
  font-family: 'Alice';
  font-weight: bold;
  font-size:24px;
  color: #4B5193;
}
p {
  font-family: 'Alice';
  font-weight:400;
  font-size:16px;
  color: #4B5193;
  margin-bottom: 5px;
}
.form-input {
  width: 220px;
  height: 20px;
  border: 1px solid #4B5193;
  border-radius:11px;
  margin-bottom: 15px;
  /*margin-left:50px;*/
  padding: 2px 15px;
}
.form-label {
  font-family: 'Alice';
  font-weight:400;
  font-size:18px;
}

.h2 {
  font-family: 'Alice';
  font-weight:bold;
  font-size:24px;
  color: #171b41;
  /*align-items: center;*/
  margin-bottom: 15px;
  /*margin: 0px auto;*/
  text-align: center;
}
.avatar {
  margin-left: 50px;
}
.avatar-img {
  width:200px;
  height:200px;
}

.pass-change a {
  font-family: 'Alice';
  font-weight:400;
  font-size:16px;
  color: #4B5193;
}
.pass-change a:hover {
  color: rgb(170, 33, 159);
}

/*----------testing-----------*/
.test_conteiner {
  width:100%;
  display:flex;
  justify-content:center;
  
}
.test {
  width:900px;
  background-color:#4B5193;
  padding:0 10px 0 10px;
}
.mash-h2 {
  font-family: 'Alice';
  font-weight:400;
  font-size:24px;
  color: #fff;
  text-align: center;
}
.questions-h2 {
  font-family: 'Alice';
  font-weight:500;
  font-size:22px;
  margin-bottom:10px;
  text-align:center;
}
#button {
  background:#03053a;
  color:#fff;
  height:40px;
  min-width:200px;
  font-family: 'Alice';
  font-weight:500;
  font-size:22px;
  padding:5px;
  align-items:center;
  cursor:pointer;
  border: 2px solid #fff;
}
#button:hover {
  color:rgb(245, 179, 212);
  border: 2px solid rgb(245, 179, 212);
  opacity: 0.8;
}