{% extends "plumber/base_plumber.html" %}

{% block content %}

    <div class="form-authoriz">
        <h2 class="form-authoriz-h2">Форма авторизации</h2>
        <form action=""method='post'style="margin-bottom:30px;">
            {% csrf_token %}
            <input type="hidden"name="next"value={{next}}>
            <div class="form-error">{{form.non_field_errors}}</div>
            {% for f in form %}
            
                <p><label for="{{f.id_for_label}}"class="form-label">{{f.label}}</label></p>
                <p>{{f}}</p>
           
                <div class="form-error">{{f.errors}}</div>
            {% endfor %}
            <button type='submit'class="form-button">Войти</button>
        </form>

        <div class="form-a">
            <p>Забыли пароль?</p><a href="{% url 'users:password_reset' %}">Перейдите по ссылке для восстановления пароля.</a>
        </div>
    </div><!--form-authoriz-->
    <div class="content-a">
        <h3>Ещё нет учётной записи? <a href="{% url 'users:register' %}">Зарегистрируйтесь</a></h3>
    </div>
{% endblock %}