{% load static %}
{% load plumber_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Jacques+Francois+Shadow&display=swap" rel="stylesheet">
    <!--<script src="{% static 'js/but_time.js' %}"></script>-->
</head>
<body>
    
    <div class="header"style="position:fixed;z-index:10;width:100%;">
        
        <div class="header1"style="padding-top:5px;">
            <img src="../static/img/G3.png" alt="G3"style="width:140px; height:140px;margin-left:60px;">
            <div class=""style="margin-left:400px;">
                <h2>TEST oneline</h2>
                <h3>Тестирование работников основных и совмещаемых профессий</h3>
            </div>
            <!--<img src="/media/users/default.png" alt=""style="width:70px;height:70px;border-radius:50%;float:left;margin-left:150px;margin-bottom:5px;">
            <h1 style="font-size:34px;color:rgb(4, 4, 92);">Тест online</h1>
            <p><span style="color:rgb(3, 3, 88);">Тестирование работников основных и совмещаемых профессий.</span></p>-->
        </div>
        <div class="header2">
            {%if user.is_authenticated%}
                <h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
            {%endif%}
            
        </div>
        <div class="header3">
            
            {% if user.is_authenticated %}
            
                {% if request.path == "/answer2/" %}
                <div class="a">
                    <a href="{% url 'users:logout_user' %}"style="float:right;margin-right:150px;">Выход(answer2)</a>
                </div>
                {% elif request.path == "/profile/" %}
                <div class="a">
                    <a href="{% url 'plumber:index' %}"style="margin-left:150px;color:#fff">Главная</a>
                </div>
                <div class="a">
                    <a href="{% url 'users:logout_user' %}"style="float:right;margin-right:150px;color:#fff">Выйти из профиля</a>
                </div>
                {% elif request.path == '/testing/' %}
                <div class="a">
                    <a href="{% url 'plumber:index' %}"style="margin-left:150px;">+++++Главная{{title}}</a>
                    <a href="{% url 'users:logout_user' %}"style="float:right;margin-right:150px;">Выход(Logout)</a>
                </div>
                {%else%}
                <div class="a">
                    <a href="{% url 'plumber:index' %}"style="margin-left:150px;color:#fff">Главная</a>
                </div>
                    <div class="a"style="float:right;margin-right:150px;color:#fff">
                        <a href="{% url 'users:logout_user' %}"style="color:#fff">Выход</a> | 
                        <a href="{% url 'users:profile' %}"style="color:#fff">Profile</a>
                    </div>
                {%endif%}
                
            {% else %}


           {% endif %}
           
        {% if not user.is_authenticated and request.path == '/' %}
            <div class="a"style="color:#fff">
                <p style="margin-left:150px;color:#fff">Главная</p>
            </div>
            <div class="a"style="margin-right:150px;color:#fff">
                <a href="{% url 'users:login_user' %}"style="color:#fff;">Войти в профиль</a> |
                <a href="{% url 'users:register' %}"style="color:#fff;">Зарегистрироваться</a>
            </div> 
        {% endif %}
        {% if not user.is_authenticated and request.path == '/login_user/'  %}
        <div class="a">
            <a href="{% url 'plumber:index' %}" style="margin-left:150px;color:#fff;">Главная</a> 
        </div>
        <div class="a">       
            <a href="{% url 'users:register' %}"style="margin-right:150px;color:#fff;">Зарегистрироваться</a>
        </div>    
        {% elif request.path == '/register/' %}
        <div class="a">
            <a href="{% url 'plumber:index' %}" style="margin-left:150px;">Главная</a>
            <a href="{% url 'users:login_user' %}"style="float:right;margin-right:150px;color:#fff;">Войти в профиль</a>
        </div>
        {% endif %}
        </div>
        {% block header %}
        {% endblock %}
    </div>
      
    <div class="sidebar">
        <div class="sideleft"style="padding-top:250px;">

            <h2 style="text-align: center;">Материалы для подготовки</h2>
            {% category_tag as ct %}
            {% for c in ct %}
                {%comment%}<a href="{% url 'materials:category_post' cat_id=c.id %}"><p>{{c.name}}</p>
                    <p><img src="{{ c.photo.url }}" alt=""style="width:250px;"></a></p>{%endcomment%}

                <!--{% if user.is_authenticated %}
                    <a href="{{c.get_absolute_url}}"><p>{{c.name}}</p>
                    <p><img src="{{ c.photo.url }}" alt=""style="width:250px;"></a></p>
                {% else %}
                    <p>{{c.name}}</p>
                    <p><img src="{{ c.photo.url }}" alt=""style="width:250px;"></p>
                {% endif %}-->

                {%if user.is_authenticated%}
                    <div class="materials-img">
                        <a href="{{c.get_absolute_url}}"><p>{{c.name}}</p>
                        <p><img src="{{ c.photo.url }}" alt=""class="img-hover"></a></p>
                    </div>
                {%else%}
                    <div class="materials-img">
                        <p>{{c.name}}</p>
                        <p><img src="{{ c.photo.url }}" alt=""class="img-hover"></p>
                    </div>
                {%endif%}

            {% endfor %}

                {% block sideleft %}
                {% endblock %}
            
        </div>
        <div class="sideright"style="padding-top:250px;">
            

            {% block sideright %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <h3>TECT online - все права защищены законом.</h3>
        
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>