{% load static %}
{% load plumber_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <!--<script src="{% static 'js/but_time.js' %}"></script>-->
</head>
<body>
    
    <div class="header">
        <div class="header1">
            <h2>ООО "ЯмалСпецЦентр"</h2>
        </div>
        <div class="header2">
            {%if user.is_authenticated%}
                <h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
            {%endif%}
        </div>
        <div class="header3">
            {% if user.is_authenticated %}
            
                {% if request.path == "/answer2/" %}
                    <a href="{% url 'users:logout_user' %}">Выход(Logout)</a>
                {% elif request.path == "/profile/" %}
                    <a href="{% url 'plumber:index' %}"style="margin-left:150px;">=====Главная{{title}}</a>
                    <a href="{% url 'users:logout_user' %}"style="float:right;margin-right:150px;">Выйти из профиля</a>
                {%else%}
                    <a href="{% url 'plumber:index' %}"style="margin-left:150px;">-----Главная</a>
                    <div class=""style="float:right;margin-right:150px;">
                        <a href="{% url 'users:logout_user' %}">Выход</a> | 
                        <a href="{% url 'users:profile' %}">Profile</a>
                    </div>
                {%endif%}
                
            {% else %}

                {%if request.path == '/'%}
                    <p style="margin-left:150px;">{{title}}</p>
                {% else %}
                    <a href="{% url 'plumber:index' %}"style="margin-left:150px;">++Главная{{title}}</a>
                {%endif%}

                <div class=""style="float:right;margin-right:150px;">
                    <a href="{% url 'users:login_user' %}">Войти в профиль</a> | 
                    <a href="{% url 'users:register' %}">Зарегистрироваться</a>
                </div>

                

            {% endif %}
            <!--<a href="{% url 'plumber:answer' %}">answer</a>-->
        </div>
        {% block header %}{% endblock %}</div>
    <div class="sidebar">
        <div class="sideleft">
            {% up_fil as uf %}
            <h2>Материалы для подготовки</h2>

            {%for i in uf%}
                <p><a href="{%url 'plumber:file_pdf' ind_id=i.id%}">{{i.file|slice:"5:"}}</a></p>
            {%endfor%}
            {% block sideleft %}
            {% endblock %}
        </div>
        <div class="sideright">
            

            {% block sideright %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        ПСо НПО №3 все права защищены законом.
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>